<%= form_with url: flights_path, method: :get do |f| %>

  <%= f.label "Departure City" %>
  <%= f.select(:departure_id, Airport.options_for_select, selected: params[:departure_id], prompt: "From", require: true) %>

  <%= f.label "Destination City" %>
  <%= f.select(:arrival_id, Airport.options_for_select, selected: params[:arrival_id], prompt: "To", require: true) %>

  <%= f.label "Departure Date" %>
  <%= f.select(:departure_time, Flight.options_for_select, selected: params[:departure_time], prompt: "Date") %>

  <%= f.label "Number of Passengers" %>
  <%# <%= f.select(:passenger_count, options_for_select([1, 2, 3, 4], params[:passenger_count]), require: true ) %>

  <div>
    <%= f.submit "Find Flights", name: nil %>
  </div>
<% end %>
