<%= form_with model: @booking do |f| %>
  <ol>
    <%= f.fields_for :passengers do |passenger_info| %>
      <li>
        <%= passenger_info.label :name %>
        <%= passenger_info.text_field :name %>
      </li>
      <li>
        <%= passenger_info.label :email %>
        <%= passenger_info.email_field :email %>
      </li>
    <% end %>
  </ol>

  <%= f.hidden_field :flight_id, value: params[:flight_id] %>
  <%= link_to "Cancle", root_url %>
  <%= f.submit "Complete Booking", name: nil %>
<% end %>
